.test {
    text-align: center;
    color: #CC5500;
    font-family: 'Ma Shan Zheng', cursive;
    font-family: 'Pacifico', cursive;
}

.font {
    font-family: 'Montserrat', sans-serif;
}

.gap {
    height: 50px;
}

.container {
    background-color: powderblue;
}

.box,
.boxes {
    background-color: pink;
    display: flex;
    justify-content: space-between;
}

.box {
    padding: 3px;
}

.bottom-style {
    font-family: 'Montserrat', sans-serif;
    color: #CC5500;
    font-weight: bold;
}